{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CBVSEARCH</title>
    <link rel='stylesheet' href="{% static 'index.css' %}">
</head>
<body>

    <div class = 'container'> 
        <div class= 'headbox'>
            <div class = 'site'> CBVSEARCH </div>
            <div class = 'searchbox'>  
                <form action = "{% url 'result' %}" method = 'GET' >
                    <select name = "type">
                        <option value="all">전체 검색</option>
                        <option value="title">제목으로 검색</option>
                        <option value="text">내용으로 검색</option>
                        <option value="author">글쓴이로 검색</option>
                    </select>
                    <input class="input_box" type="text" name="query" value="{{query}}" placeholder="검색어를 입력해주세요">

                </form>
            </div>
            <div class= 'userbox'>
                {{user}} 님 안녕하세요 !
            </div>
            
        </div>
        <div class = 'middlebox'>
                {% for i in cbv_list %}
            <a href="{% url 'detail' i.id %}">
            <h1> 제목 : {{i.title}} </h1>
            <p> 작성자 : {{i.author}}</p>
            </a>
            {% endfor %}
        </div>
        <div class='bottom'>
            <a href="{% url 'create' %}"> 글 작성하기 </a>
        </div>
    </div>
    
</body>
</html>

  


